/*
which-key styling
https://github.com/VSpaceCode/vscode-which-key/issues/37#issuecomment-842893215
*/

.quick-input-widget > .quick-input-list > .monaco-list {
    max-height: none !important;
}
.quick-input-widget > .quick-input-list .codicon {
    color: #83a598 !important; padding-right: 5px;
}
.quick-input-widget > .quick-input-list .monaco-list-row[aria-label*=" +"] .label-description {
    color: #8ec07c;
}
/*
    .quick-input-widget > .quick-input-list .monaco-list-rows {
        display: grid !important; grid-template-columns: repeat(3, 1fr); grid-auto-rows: 1.5em;
    }
    .quick-input-widget > .quick-input-list .monaco-list-row {
       position: unset !important;
    }
*/

/* statusbar icons */
#workbench\.parts\.statusbar .codicon-error {
    color: #cc241d !important;",  /* red */
}
#workbench\.parts\.statusbar .codicon-warning {
    color: #d79921 !important;",  /* yellow */
}
#workbench\.parts\.statusbar .codicon-beaker {
    color: #98971a !important;",  /* green */
}
#workbench\.parts\.statusbar .codicon-git-branch, .codicon-git-commit {
    color: #689d6a !important",  /* aqua */
}
#workbench\.parts\.statusbar .codicon-sync {
    color: #689d6a !important;",  /* aqua */
}
#workbench\.parts\.statusbar .codicon-cloud-upload {
    color: #689d6a !important;",  /* aqua */
}
#workbench\.parts\.statusbar .codicon-bell, .codicon-bell-dot {
    color: #689d6a !important;",  /* aqua */
}

/* statusbar highlights */
#status\.editor\.selection {
    font-weight: bold !important;
}

/* vim mode styling */
/*
    #vscodevim\.vim\.primary {
        border-radius: 3px !important
    }
    #vscodevim\.vim\.primary[aria-label="-- NORMAL --"] {
        background-color: #458588 !important;
    }
*/

#vscodevim\.vim\.primary[aria-label="-- INSERT --"] {
    color: #98971a !important;
}
#vscodevim\.vim\.primary[aria-label="-- VISUAL --"] {
    color: #b16286 !important;
}
#vscodevim\.vim\.primary[aria-label^=":"], #vscodevim\.vim[aria-label^="/"], #vscodevim\.vim[aria-label^="?"] {
    background-color: #d79921 !important; color: #282828 !important; font-weight: bold !important
}
#asvetliakov\.vscode-neovim[aria-label="-- INSERT --"] {
    background-color: #98971a !important;
}
#asvetliakov\.vscode-neovim[aria-label="-- VISUAL --"] {
    background-color: #b16286 !important;
}

/* muted links */
.monaco-editor .detected-link, .monaco-editor .detected-link-active {
    text-decoration: underline 1px #665c54 !important;
}
